body {
	background-image:url('wood.png');
	padding:0;
	margin:0;
	font-family: Segoe UI;
}
button {
	width: 100%;
	display: flex;
	color:white;
	background: rgb(123 129 0 / 80%);
	float:left;
	margin: 10px 0;
	padding: 5px;
	font-family: Segoe UI Light;
	font-size:18pt;
	cursor: pointer;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	-moz-box-shadow: 2px 2px 2px #999999;
	-webkit-box-shadow: 2px 2px 2px #999999;
	box-shadow: 2px 2px 2px #000000;
}
button:hover {
	background: rgb(173 182 0);
}
button:active {
	background:rgba(64,64,64,1);

}
button img {
	vertical-align:middle;
	padding-right: 10px;
}
button p {
	vertical-align:middle;
}
/************ Classes ************/

/* Botão "delete" do Postick */
.delete {cursor: pointer;line-height: 17px;font-weight: bold;height: 100%;display: flex;}


.postick {
	border: 1px solid black;
	width:200px;
	height:200px;
	padding: 0;
	font-size:85%;
	background:#FFFC7F;
	-moz-box-shadow:2px 2px 2px #999999;
	-webkit-box-shadow:2px 2px 2px #999999;
	box-shadow: 2px 2px 2px #000000;
	position:absolute;
}

.toolbar {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2.5em;
	height: 25px;
	color: #000;
	cursor: all-scroll;
	padding: 0 5px 5px;
	cursor: all-scroll;
	background-color: #7d7b0e;
}

/* Conteúdo a ser editável dentro do postick */

.editable {
	overflow-y: scroll;
	cursor: text;
	height: 170px;
	margin: 0 auto;
	width: auto;
	position:relative;
	-moz-text-shadow: 1px 1px 0px white;
	text-shadow: 1px 1px 0px white;
	color:#000000;
	border: none;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	padding: 0 5px;
}

.editable:hover {
	border: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Personalizando barra de rolagem */

::-webkit-scrollbar-track {
    background-color: #fffc7f;
}
::-webkit-scrollbar {
    width: 6px;
    background: #7d7b0e;
}
::-webkit-scrollbar-thumb {
    background: #7d7b0e;
}
